<a href="/"><header>MVC Example</header></a>
</br>

{{#if message}}
<p class="text-center text-danger">{{message}}</p>
{{/if}}


<main>
  {{#if Stores}}
  {{#each Stores}}
    <a href="/store/{{this.hash}}" + >{{{domain}}} Store Info</a>
    <a href="/products/update">Update Products</a>
  {{/each}}
  {{else}}
  <a href="/store/update">Connect Store</a>
   <p>Connect a Store to download products</p>
{{/if}}
{{#if Products}}
    <h3>Products</h3>
    {{#each Products}}

      <h4><a href="{{_id}}">{{name}}</a></h4>

      {{sku}}

      {{type}}
        {{#each variants}}
          {{#each option_values}}
          <strong>{{option_display_name}}</strong>: <em>{{label}}</em>
          {{/each}}
        {{/each}}
    {{/each}}
    {{else}}
{{/if}}
</main>